<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PkKillTracker.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Rubik Wet Paint' rel='stylesheet'>
    @*<link href='https://fonts.googleapis.com/css?family=Butcherman' rel='stylesheet'>*@
    @await RenderSectionAsync("css", required: false)
    <style>
        .navbar
        {
            margin-top:14px;
            margin-bottom:7px !important;
            border: solid 6px rgba(200,0,0,0.9) !important;
            border-radius:8px;
            box-shadow: 1px 1px 1px rgba(200,0,0,0.6);
        }

        .nav-link
        {
            border-bottom: inset;
            border-bottom-color: rgba(200,0,0,1);
            border-bottom-width: medium;
            padding:6px;
            margin-left:8px;
            margin-right:8px;
            color: rgba(70,0,0,1) !important;
            /*font-family: 'Butcherman';*/
            font-family: 'Rubik Wet Paint';
            text-shadow: 2px 2px 5px red;
        }

        .navbar-brand
        {
            margin-left:18px;
            margin-right: 80px;
            font-weight:normal;
            color: rgba(70,0,0,1) !important;
            /*font-family: 'Butcherman';*/
            font-family: 'Rubik Wet Paint';
            text-shadow: 2px 2px 5px red;
        }

        body 
        {
            /*background-color: rgba(160,50,60,0.5);*/
            background-image: linear-gradient(180deg, #821a1b 0%, #d30000 70%);
        }

        #gridWrapper
        {
            border: solid 6px rgba(200,0,0,0.9) !important;
            border-radius: 8px;
        }

        #titleRow
        {
            color: rgba(70,0,0,1) !important;
            background-color: white;
            border: solid 6px rgba(200,0,0,0.9) !important;
            border-radius: 8px;
            margin-bottom: 6px;
            padding-left:9px;
            padding-top:6px;
            padding-bottom:6px;
            text-align: left !important;
        }

        #pageTitle
        {
            margin-left: 18px;
            font-size:18pt;
            vertical-align:middle;
            display: inline-block;
            width:550px;
        }

        #btnNextMonth
        {
            margin-left:56px;
            margin-right:9px;
        }

        #btnPrevMonth {
            margin-left: 9px;
            margin-right: 9px;
        }

        #txtSearchPlayer {
            width:250px;
            padding-left:4px;
            margin-left: 9px;
            margin-right: 9px;
        }

        #btnSearchPlayer {
            margin-left: 9px;
            margin-right: 9px;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-brand">Classic PvP Kill Tracker</div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PkKills" asp-action="AllKills">All PK Kills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PkKills" asp-action="KillsByChar">Kills/Deaths By Character</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PkKills" asp-action="KillsByClan">Kills/Deaths By Clan</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
